<div *ngIf="pageData$ | async; let pageData" class="container content-container">
    <div [ngSwitch]="pageData.template">
        <ngwt-tpl-text [data]="pageData" [params]="params" *ngSwitchCase="'template-page-content.php'"></ngwt-tpl-text>
        <ngwt-tpl-gallery [data]="pageData" [params]="params" *ngSwitchCase="'template-page-gallery.php'"></ngwt-tpl-gallery>
        <ngwt-tpl-text-gallery [data]="pageData" [params]="params" *ngSwitchCase="'template-page-content-gallery.php'"></ngwt-tpl-text-gallery>
        <ngwt-tpl-posts [data]="pageData" [params]="params" *ngSwitchCase="'template-page-posts.php'"></ngwt-tpl-posts>
    </div>
</div>