<header class="header-container">
    <app-navigation></app-navigation>
    <div class="logo-container">
        LOGO
    </div>
    <div class="social-links-container">
        <ul>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/?hl=de" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</header>