.header-container {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1000;

  .menu-trigger {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    cursor: pointer;

    & > span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      margin-top: -2px;
      background-color: #000;
      transition: background-color 0.3s;

      &:before, &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        content: '';
        transition: transform 0.3s;
      }

      &:before {
        transform: translateY(-250%);
      }

      &:after {
        transform: translateY(250%);
      }
    }
  }

  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .social-links-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}