<p *ngIf="!items || !items.length">
    Keine Bilder in dieser Galerie vorhanden.
</p>

<input id="no-selection" type="radio" name="gallery-radios" [value]="-1" [(ngModel)]="activeItemId" (change)="handleSelectionChange()" />
<div class="grid modern" *ngIf="items && items.length" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="loadNextPage()">
    <div *ngFor="let item of items; let i = index" class="grid-item-wrapper">
        <label for="image-{{item.id}}">
            <div class="grid-item" [ngStyle]="{'background-image': 'url(' + item.media_details.sizes.medium.source_url + ')', 'background-position-x': item.acf['background-x'] + '%', 'background-position-y': item.acf['background-y'] + '%'}"></div>
        </label>

        <input class="modal-state" id="image-{{item.id}}" type="radio" name="gallery-radios" [value]="item.id" [(ngModel)]="activeItemId" (change)="handleSelectionChange()" />
        <div class="modal">
            <label class="modal__bg" for="no-selection"></label>
            <div class="modal__inner">
                <label class="modal__close" for="no-selection">close</label>
                <label class="modal__next-btn" for="image-{{getNextItem(i).id}}">next</label>
                <label class="modal__prev-btn" for="image-{{getPreviousItem(i).id}}">prev</label>
                <img src="{{item.source_url}}" (swipeleft)="setActiveItemId(getNextItem(i).id)" (swiperight)="setActiveItemId(getPreviousItem(i).id)" />
            </div>
        </div>
    </div>
</div>