/* Grid, using NO CSS grid
 * =============================== */
.grid.legacy {
  .grid-item-wrapper {
    position: relative;
    width: 16.6666%;
    display: inline-block;
    vertical-align: top;

    /* for squared images */
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    .grid-item {
      position: absolute;
      width: 98%;
      height: 98%;
      top: 1%;
      left: 1%;
      cursor: pointer;

      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

/* Grid, using CSS grid
 * =============================== */
.grid.modern {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: start;
  justify-items: center;
  grid-gap: 5px;
  margin: 5px;

  .grid-item-wrapper {
    width: 100%;
    position: relative;

    /* for squared images */
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    .grid-item {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: -100%;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: 1200px) {
  .grid.modern {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid.legacy .grid-item-wrapper {
    width: 20%;
  }
}

@media (max-width: 1000px) {
  .grid.modern {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.legacy .grid-item-wrapper {
    width: 33.3333%;
  }
}

@media (max-width: 800px) {
  .grid.modern {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.legacy .grid-item-wrapper {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .grid.modern {
    grid-template-columns: 1fr;
  }

  .grid.legacy .grid-item-wrapper {
    width: 100%;
  }
}

/* Modal
 * =============================== */
input[name=gallery-radios] {
  display: none;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  //transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  //transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 80%;
}

.modal__inner img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal__next-btn, .modal__prev-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
}

.modal__next-btn {
  right: 10px;
}

.modal__prev-btn {
  left: 10px;
}