<div *ngIf="pageData$ | async; let pageData" class="page-container">
    <div [ngSwitch]="pageData.template">
        <app-tpl-text [pageData]="pageData" [params]="params" *ngSwitchCase="'template-content.php'"></app-tpl-text>
        <app-tpl-gallery [pageData]="pageData" [params]="params" *ngSwitchCase="'template-gallery.php'"></app-tpl-gallery>
        <app-tpl-text-gallery [pageData]="pageData" [params]="params" *ngSwitchCase="'template-content-gallery.php'"></app-tpl-text-gallery>
        <app-tpl-posts [pageData]="pageData" [params]="params" *ngSwitchCase="'template-posts.php'"></app-tpl-posts>
    </div>
</div>