article {
  margin-bottom: 50px;
  padding-bottom: 20px;

  .article-image {
    height: auto;
    max-width: 100%;
  }

  h2 {
    margin-top: 0;
  }

  a.read-more {
    position: absolute;
    bottom: -20px;
    right: 20px;
  }
}