<app-loading-indicator *ngIf="!imageHasLoaded || !(dataHasLoaded$ | async)"></app-loading-indicator>

<img *ngIf="dataHasLoaded$ | async"
     [ngClass]="{'image-container': true, 'center': center}"
     [src]="getSourceUrl()"
     [ngStyle]="{'display': useAsBackground ? 'none' : 'block'}"
     (load)="onLoaded()"
     (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()"
/>

<div *ngIf="useAsBackground && (dataHasLoaded$ | async) && imageHasLoaded"
     [ngClass]="{'background-image-container': true, 'center': center}"
     [ngStyle]="getBackgroundStyle()"
     (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()">
</div>