.navigation {
  .menu-trigger {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 910;

    & > span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      margin-top: -2px;
      background-color: #000;
      transition: background-color 0.3s;

      &:before, &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        content: '';
        transition: transform 0.3s;
      }

      &:before {
        transform: translateY(-250%);
      }

      &:after {
        transform: translateY(250%);
      }
    }
  }

  .menu-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 900;
  }

  nav {
    position: fixed;
    z-index: 1000;
    background: #fff;
    height: 100%;
    width: 30%;
    max-width: 250px;
    min-width: 150px;
    left: -100%;
    top: 100px;

    transition: left 0.3s;
  }

  &.menu-open {
    .menu-trigger > span {
      background-color: transparent;

      &:before {
        transform: translateY(0) rotate(45deg);
      }

      &:after {
        transform: translateY(0) rotate(-45deg);
      }
    }

    .menu-mask {
      height: 100%;
    }

    nav {
      left: 0;
    }
  }
}