<p *ngIf="!items || !items.length">
    Keine Bilder in dieser Galerie vorhanden.
</p>

<div class="cssSlider">

    <input *ngFor="let item of items; let i = index" type="radio" name="slider" id="slide-{{i}}" [value]="i" [(ngModel)]="activeSlideIndex">

    <ul class="sliderElements" [ngStyle]="{'width': items.length * 100 + '%', 'left': -(activeSlideIndex * 100) + '%'}">
        <li *ngFor="let item of items; let i = index" [ngStyle]="{'width': 100 / items.length + '%'}">
            <div class="slider-image-container" (swipeleft)="setActiveIndex(i + 1)" (swiperight)="setActiveIndex(i - 1)">
                <app-image [imageItem]="item" [useAsBackground]="true" [height]="'500px'" [useFullVersion]="true"></app-image>
                <div class="caption">Beschreibung</div>
            </div>
        </li>
    </ul>

    <ul class="sliderControls" *ngIf="items.length > 1">
        <li *ngFor="let item of items; let i = index">
            <label for="slide-{{i}}" [ngClass]="{'active': activeSlideIndex === i}"></label>
        </li>
    </ul>
</div>