/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Verdana, sans-serif;

  &.modal-open {
    overflow-y: hidden;
  }

  .content-container {
    margin-top: 100px;

    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

    max-width: 1140px;
  }
}
