/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;

  &.modal-open {
    overflow-y: hidden;
  }

  &.menu-open {
    .menu-trigger > span {
      background-color: transparent !important;

      &:before {
        transform: translateY(0) rotate(45deg) !important;
      }

      &:after {
        transform: translateY(0) rotate(-45deg) !important;
      }
    }

    .navigation {
      .menu-mask {
        height: 100% !important;
      }

      nav {
        left: 0 !important;
      }
    }
  }
}
